html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    font-family: monospace;
}

.game {
    display: flex;
    align-self: center;
}

.details-panel {

}

.categories-legend {

}

.categories-legend > div {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 18px;
}

.categories-legend > div > .category {
    width: 20px;
    height: 12px;
    margin-right: 8px;
    border-bottom: 2px solid white;
    border-right: 4px solid white;
    border-top: 2px solid #555;
    border-left: 4px solid #555;
}

.category[data-type="sports"] {
    background: #ff0000;
}

.category[data-type="history"] {
    background: #fff;
}

.category[data-type="geography"] {
    background: #0000aa;
}

.category[data-type="nature"] {
    background: #550000;
}

.category[data-type="music"] {
    background: #0055ff;
}

.category[data-type="general"] {
    background: #00ff00;
}

.category[data-type="art"] {
    background: #00aa00;
}

.category[data-type="science"] {
    background: #ffaa00;
}

.category[data-type="random"] {
    background: transparent url("assets/category-random.svg") repeat top left;
}

/* BOARD AND GAME DETAILS */

.board {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.row {
    display: flex;
    margin-bottom: 8px;
}

.tile {
    display: flex;
    width: 90px;
    height: 64px;
    margin-right: 8px;
    border-top: 2px solid white;
    border-left: 4px solid white;
    border-bottom: 2px solid #555;
    border-right: 4px solid #555;
    position: relative;
    background: #aaa;
}

.tile:last-child {
    margin-right: 0;
}

.tile--hole {
    background: none;
    border-color: black;
}

.tile--flag:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
}

.tile--flag.flag--red:before {
    background: transparent url("assets/flag-red.svg") no-repeat center center;
}

.tile--flag.flag--black:before {
    background: transparent url("assets/flag-black.svg") no-repeat center center;
}

.tile--flag.flag--green:before {
    background: transparent url("assets/flag-green.svg") no-repeat center center;
}

.tile--flag.flag--blue:before {
    background: transparent url("assets/flag-blue.svg") no-repeat center center;
}

.tile > .piece {
    width: 100%;
    height: 100%;
}

.piece[data-color="red"] {
    background: transparent url("assets/pawn-red.svg") no-repeat center center;
}

.piece[data-color="black"] {
    background: transparent url("assets/pawn-black.svg") no-repeat center center;
}

.piece[data-color="green"] {
    background: transparent url("assets/pawn-green.svg") no-repeat center center;
}

.piece[data-color="blue"] {
    background: transparent url("assets/pawn-blue.svg") no-repeat center center;
}

.tile > .category {
    width: 20px;
    height: 12px;
    border-bottom: 2px solid white;
    border-right: 4px solid white;
    border-top: 2px solid #555;
    border-left: 4px solid #555;
    position: absolute;
    top: 0;
    left: 0;
}