@font-face {
    font-family: 'DOS VGA';
    src: url('assets/DOSVGA.woff2') format('woff2'), url('assets/DOSVGA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    font-family: "DOS VGA", monospace;
    letter-spacing: 0.5px;
}

.log {
    display: flex;
    flex-wrap: wrap;
}

.log p {
    margin-right: 40px;
    color: #00ff00;
}

.game {
    display: flex;
    align-items: center;
    align-self: center;
}

.details-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CURRENT PLAYER */

.current-player {
    margin-bottom: 8px;
}

.current-player > div {
    display: none;
    flex-direction: column;
    align-items: center;
}

.current-player > div span {
    margin-top: 16px;
    font-size: 24px;
    text-transform: uppercase;
}

.current-player[data-player="red"] div[data-color="red"],
.current-player[data-player="black"] div[data-color="black"],
.current-player[data-player="green"] div[data-color="green"],
.current-player[data-player="blue"] div[data-color="blue"] {
    display: flex;
}

/* CURRENT PIECE */

.current-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-piece__identifier {
    min-height: 24px;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.current-piece__level {
    min-height: 32px;
}

.current-piece__level img {
    margin: 0 3px;
}

.current-piece__moves {
    min-height: 32px;
}

.current-piece__moves img {
    margin: 0 3px;
}

/* CATEGORIES LEGEND */

.categories-legend {
    margin-top: 8px;
}

.categories-legend > div {
    display: flex;
    align-items: center;
    margin: 2px 0;
    font-size: 18px;
}

.categories-legend > div > .category {
    width: 20px;
    height: 12px;
    margin-right: 8px;
    border-bottom: 2px solid white;
    border-right: 4px solid white;
    border-top: 2px solid #555;
    border-left: 4px solid #555;
}

.category[data-type="sports"] {
    background: #ff0000;
}

.category[data-type="history"] {
    background: #fff;
}

.category[data-type="geography"] {
    background: #0000aa;
}

.category[data-type="nature"] {
    background: #550000;
}

.category[data-type="music"] {
    background: #0055ff;
}

.category[data-type="general"] {
    background: #00ff00;
}

.category[data-type="art"] {
    background: #00aa00;
}

.category[data-type="science"] {
    background: #ffaa00;
}

.category[data-type="random"] {
    background: transparent url("assets/category-random.svg") repeat top left;
}

/* BOARD AND GAME DETAILS */

.board {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.row {
    display: flex;
    margin-bottom: 8px;
}

.tile {
    display: flex;
    width: 90px;
    height: 64px;
    margin-right: 8px;
    border-top: 2px solid white;
    border-left: 4px solid white;
    border-bottom: 2px solid #555;
    border-right: 4px solid #555;
    position: relative;
    background: #aaa;
}

.tile:last-child {
    margin-right: 0;
}

.tile--hole {
    background: none;
    border-color: black;
}

.tile--flag:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
}

.tile--flag.flag--red:before {
    background: transparent url("assets/flag-red.svg") no-repeat center center;
}

.tile--flag.flag--black:before {
    background: transparent url("assets/flag-black.svg") no-repeat center center;
}

.tile--flag.flag--green:before {
    background: transparent url("assets/flag-green.svg") no-repeat center center;
}

.tile--flag.flag--blue:before {
    background: transparent url("assets/flag-blue.svg") no-repeat center center;
}

.tile > .piece {
    width: 100%;
    height: 100%;
}

.piece[data-color="red"] {
    background: transparent url("assets/pawn-red.svg") no-repeat center center;
}

.piece[data-color="black"] {
    background: transparent url("assets/pawn-black.svg") no-repeat center center;
}

.piece[data-color="green"] {
    background: transparent url("assets/pawn-green.svg") no-repeat center center;
}

.piece[data-color="blue"] {
    background: transparent url("assets/pawn-blue.svg") no-repeat center center;
}

.tile > .category {
    width: 20px;
    height: 12px;
    border-bottom: 2px solid white;
    border-right: 4px solid white;
    border-top: 2px solid #555;
    border-left: 4px solid #555;
    position: absolute;
    top: 0;
    left: 0;
}

.tile--active {
    box-shadow: 0 0 0 5px #00ff00;
}

.tile--inactive {
    box-shadow: 0 0 0 5px #ff0000;
}

.tile--initial-move-position {
    box-shadow: 0 0 0 5px #00aa55;
}

.tile--move {
    box-shadow: 0 0 0 5px #0055ff;
}